li {
  background-color: #fff;
  font-family:verdana;
  border: inset 1px #d2d0cd;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 10px 5px 10px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 50% 50%;
  row-gap: 5px;
}

.callerField {
  grid-area: 1 / 1 / 2 / 2;
}

.techField {
  grid-area: 1 / 2 / 2 / 3;
}

.groupField {
  grid-area: 2 / 2 / 3 / 3;
}

.createdField {
  grid-area: 2 / 1 / 3 / 2;
}

.sdField {
  grid-area: 3 / 1 / 4 / 3;
}